# =========================
# Virtual Environment
# =========================
venv/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Hugging Face / Model Cache
# =========================
.cache/
huggingface/
hf_cache/
models/

# =========================
# FAISS / Generated Artifacts
# =========================
*.index
*.faiss

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS / System files
# =========================
Thumbs.db
.DS_Store
